
h1 {
    color: blue;
    text-align: center;
}
        
h2 {
    color: yellowgreen;
    text-align: left;
}
        
h6 {
    color: red;
    text-align: right;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 2px;
}